
.banner{background-image: url("images/k.jpg");
           height:500px;
}

.banner {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity:0.5;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.rowb::after {
    content: "";
    clear: both;
    display: table;
}

.containerppp{margin-top:20px;
}
.rowb h4{text-align:center;
        font-family:freestyle script;
    }

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.columnp {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column5 {
    float: left;
    padding: 10px;
     /* Should be removed. Only for demonstration */
}
#more {display: none;}
.containertt{margin-top:20px;}


* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.row2 .column {
    float: left;
    width: 25%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #daa427;
  color: black;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 30%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #daa427;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


.row3 .column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row3:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}